---
import ExperienceCard from './experience-card.astro';

const experiences = [
	{
		designation: 'Blockchain and Software Developer',
		company: 'Doge Capital Fzco',
		timeline: "May '24 - Jul '24",
		description:
			'Increased user retention by 25% through wallet integration and optimized game functionality. Implemented Ethereum, Bitcoin, and Solana wallet integration',
	},
	{
		designation: 'FrontEnd Developer',
		company: 'Qliclabs Technology',
		timeline: "May '23 - Sep '23",
		description:
			'Boosted user retention by 30% by implementing dynamic product search and advanced filtering. Optimized website performance and revamped e-commerce platform UI.',
	},
	{
		designation: 'Software Engineer',
		company: 'Unmodal Research Inc.',
		timeline: "Jun '23 - Jul '23",
		description:
			"Optimized AI integration with GPT-3.5 Turbo, cutting response time by 35%. Developed AI-powered text generation & manipulation app. Integrated OpenAI's GPT-3.5 Turbo and DALL-E APIs.",
	},
	{
		designation: 'Freelancer',
		company: 'AN3O Technologies',
		timeline: "Jul '24 - Aug '24",
		description:
			'Automated web scraping for 50+ websites, saving 20+ hours weekly. Developed a custom web scraping script using Scrapy and BeautifulSoup.',
	},
];
---

<section id="experience" class="space-y-6">
  <div class="mx-auto max-w-6xl p-6">
    <h2 class="my-4 text-3xl font-bold">Work Experience</h2>
    <div class="mt-10 grid grid-cols-1 gap-8 sm:grid-cols-2">
      {experiences.map((exp) => (
        <ExperienceCard
          designation={exp.designation}
          company={exp.company}
          timeline={exp.timeline}
          description={exp.description}
        />
      ))}
    </div>
  </div>
</section>
