---
import About from '@/components/portfolio/about.astro';
import Experience from '@/components/portfolio/experience.astro';
import Footer from '@/components/portfolio/footer.astro';
import Hero from '@/components/portfolio/hero.astro';
import Navbar from '@/components/portfolio/navbar.astro';
import PinnedRepo from '@/components/portfolio/pinned-repo.astro';
import Tech from '@/components/portfolio/tech.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Shishir Chaurasiya — Full-Stack Web Developer">
  <Navbar />
  <main>
    <Hero />
    <About />
    <Tech />
    <Experience />
    <PinnedRepo />
  </main>
  <Footer />
</Layout>
